@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

ion-content,
ion-content::part(background) {
    background: transparent;
}

ion-menu,
ion-menu::part(container) {
    background: transparent;
}

.back-button-wrapper {
    text-transform: capitalize !important;
}

.back-button-wrapper > svg {
    width: 30px;
    height: 30px;
}
